@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  interpolate-size: allow-keywords;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;

  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --bg-pink: #ff00dd;
  --bg-white: #fff;
  --bg-black: #000;

  --font-pink: #000;
  --font-white: #ff00dd;
  --font-black: #ff00dd;

  --bd-container: 1rem;
  --bd-content: 0.5rem;

  --border: 1px solid #00000020;
  --content-color: #9d8383;
  --shadow: 0 0 10px #00000020;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: gray;
}
